#main-content-container{
   text-align: center;
   padding-top: 20px;

}

#logo {
   text-align: center;
}

#hr-footer {
   width: 60px;
   background-color: #ffc107;
   height: 2px;
}

#center-items{
   text-align: center;
}

li {
   list-style-type: none;
}
